/* 838 x 526 */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;600&display=swap");
:root {
	--gradient-active-input-border-start: hsl(249, 99%, 64%);
	--gradient-active-intput-border-end: hsl(278, 94%, 30%);
	--red-color: hsl(0, 100%, 66%);
	--white-color: hsl(0, 0%, 100%);
	--light-grayish-violet: hsl(270, 3%, 87%);
	--dark-grayish-violet: hsl(279, 6%, 55%);
	--very-dark-violet: hsl(278, 68%, 11%);
	--font-size: 18px;
}

body {
	font-family: "Space Grotesk", sans-serif;
	font-size: var(--font-size);
	display: flex;
	justify-content: center;
	background-color: var(--light-grayish-violet);
}

main {
	margin: 40px;
	/* width: 90rem;
	max-width: 90rem;
	max-height: 70rem; */
	background-color: var(--white-color);
}

.grid {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	overflow: hidden;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.card__section {
	background-image: url("/images/bg-main-desktop.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.card__front-wrapper {
	background-image: url("/images/bg-card-front.png");
	width: 400px;
	height: 240px;
	background-size: 400px 240px;
	background-repeat: no-repeat;
	position: absolute;
	border-radius: 10px;
	top: 200px;
	left: 150px;
	padding: 30px;
	box-sizing: border-box;
	display: grid;
	color: var(--white-color);
	grid-template-rows: 2fr 1.5fr;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

.card__front-description {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.card__icon {
	margin-bottom: 30px;
}

.card__front-number {
	font-size: 1.3rem;
	text-align: center;
	letter-spacing: 5.5px;
}

.card__back-wrapper {
	background-image: url("/images/bg-card-back.png");
	height: 240px;
	width: 400px;
	background-size: 400px 240px;
	background-repeat: no-repeat;
	position: absolute;
	border-radius: 10px;
	top: 470px;
	left: 250px;
	padding: 30px;
	box-sizing: border-box;
	display: grid;
	color: var(--white-color);
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
	position: relative;
}

.card__back-number {
	position: absolute;
	top: 109px;
	right: 55px;
	font-size: 0.8rem;
	letter-spacing: 2px;
}

.form__section {
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#card_form {
	width: 40%;
	min-width: 20rem;
	display: flex;
	flex-direction: column;
	margin-left: 0rem;
	align-self: center;
}

#complete__state {
	width: 30%;
	min-width: 20rem;
	display: none;
	flex-direction: column;
	margin-left: 5rem;
	align-items: center;
	transition: all 1s;
}

#complete__state button {
	width: 100%;
}

.icon_complete {
	width: 5rem;
	height: 5rem;
	margin-bottom: 2rem;
}

.complete__title {
	margin-bottom: 1rem;
	text-transform: uppercase;
	font-size: 1.8rem;
	letter-spacing: 3px;
}

.complete__description {
	margin-bottom: 2.5rem;
	color: var(--dark-grayish-violet);
}

label {
	display: block;
	margin-bottom: 0.4rem;
	color: var(--very-dark-violet);
	text-transform: uppercase;
	font-size: 1rem;
}

.card__description_wrapper {
	display: flex;
	justify-content: space-between;
}

.card__expired {
	display: flex;
}

button {
	border: none;
	text-decoration: none;
	background: var(--very-dark-violet);
	color: var(--white-color);
	padding: 0.8rem 0;
	border-radius: 6px;
	transition: 0.5s;
}

button:hover {
	cursor: pointer;
}

button:active {
	transform: scale(1.2);
}

.input-control {
	display: flex;
	flex-direction: column;
	margin: 0.8rem 0;
}

.input-control input {
	border: 1px solid var(--light-grayish-violet);
	padding: 10px 20px;
	border-radius: 0.5rem;
	width: 100%;
	font-family: "Space Grotesk", sans-serif;
	letter-spacing: 3px;
}

.input-control.success input {
	border-color: #09c372;
}

.input-control.error input {
	border-color: var(--red-color);
}

.input-control .error {
	color: var(--red-color);
	font-size: 1rem;
	height: 13px;
}

#input-control-expired .input-control-small {
	width: 5rem;
}

.input-control input:focus {
	outline: 0;
}

.flex {
	display: flex;
	flex-direction: row;
}

.mr-1 {
	margin-right: 1rem;
}

.flex-column {
	flex-direction: column;
}

.flex-gap {
	margin: 6px;
}

@media only screen and (max-width: 1200px) {
	main {
		margin: 10px;
		width: 22rem;
		max-width: 90rem;
		max-height: 50rem;
		background-color: var(--white-color);
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr;
		overflow: hidden;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	}

	.card__section {
		background-image: url("/images/bg-main-mobile.png");
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		height: 16rem;
	}

	.card__front-wrapper {
		background-image: url("/images/bg-card-front.png");
		height: 150px;
		width: 250px;
		background-size: 250px 150px;
		background-repeat: no-repeat;
		position: absolute;
		border-radius: 0.5rem;
		top: 146px;
		left: 20px;
		padding: 1rem;
		box-sizing: border-box;
		display: grid;
		color: var(--white-color);
		grid-template-rows: 2fr 1.5fr;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
		z-index: 999;
		transition: 0.5s;
	}

	.card__front-description {
		display: flex;
		justify-content: space-between;
		font-size: 0.7rem;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	.card__icon {
		margin-bottom: 30px;
		height: 30px;
	}

	.card__front-number {
		font-size: 1rem;
		text-align: center;
		letter-spacing: 2px;
	}

	.card__back-wrapper {
		background-image: url("/images/bg-card-back.png");
		height: 150px;
		width: 250px;
		background-size: 250px 150px;
		background-repeat: no-repeat;
		position: absolute;
		border-radius: 0.5rem;
		top: 60px;
		left: 80px;
		padding: 30px;
		box-sizing: border-box;
		display: grid;
		color: var(--white-color);
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
		position: relative;
		transition: 0.5s;
	}

	.card__back-number {
		position: absolute;
		top: 68px;
		right: 40px;
		font-size: 0.6rem;
		letter-spacing: 2px;
		font-weight: 300;
	}

	.form__section {
		box-sizing: border-box;
		padding: 10px;
		display: flex;
		height: 100%;
		width: 100%;

		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		margin-top: 4rem;
	}

	.input-control input {
		border: 1px solid var(--light-grayish-violet);
		padding: 10px 20px;
		border-radius: 0.5rem;
		font-size: 1rem;
	}

	.input-control .error {
		color: var(--red-color);
		font-size: 0.7rem;
		margin-top: 5px;
		height: 13px;
	}

	.mr-1 {
		margin-right: 1rem;
	}

	label {
		font-size: 1rem;
		letter-spacing: 1px;
	}

	.secretcode {
		width: 100%;
	}

	#complete__state {
		width: 30%;
		min-width: 20rem;
		display: none;
		flex-direction: column;
		margin-left: 0rem;
		align-items: center;
		justify-content: center;
		align-self: center;
		margin-top: 2rem;
	}

	#complete__state button {
		width: 100%;
	}

	.icon_complete {
		width: 5rem;
		height: 5rem;
		margin-bottom: 2rem;
	}

	.complete__title {
		margin-bottom: 1rem;
		text-transform: uppercase;
		font-size: 1.8rem;
		letter-spacing: 3px;
	}

	.complete__description {
		margin-bottom: 2.5rem;
		color: var(--dark-grayish-violet);
	}
}
